
.header {
    font-size: 35pt;
}

.body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

.block {
  display: block;
  width: auto;
  float: center;
  border-style: solid;
  border-color: green;
  background-color: #f1f1f1;
  font-size: 20pt;
  font-style: normal;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin: 10, 10;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #636b66;
  color: white;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 15pt;
  padding-top: 20px;
}

.push {
  height: 100px;
}

.navbar {
    overflow: hidden;
    background-color: green;
    font-family: Verdana;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: green;
}

.show {
    display: block;
}
